@font-face {
    font-family: 'lack_lineregular';
    src: url('lack-line-regular-webfont.eot');
    src: url('lack-line-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lack-line-regular-webfont.woff2') format('woff2'),
         url('lack-line-regular-webfont.woff') format('woff'),
         url('lack-line-regular-webfont.ttf') format('truetype'),
         url('lack-line-regular-webfont.svg#lack_lineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

