
body {
  font-family: "clifton-italic" ;
  font-size: 28px ;
  color: #182A39 ;
  margin: auto;
  width:1000px;
}

section {
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height:1000px;
}

 .gotta-be {
  border: 1px solid #182A39;
  box-sizing: border-box;
  overflow: hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

ul {
  font-family: "solow-outline" ;
  font-size: 36px ;
  font-style: normal;
  font-weight: normal;
  line-height: 43px;
  text-align: center;
  margin-left: -35px ;
  list-style-type: none;
}

.verse-one .gotta-be {
  background-color: #F2F4F1;
  grid-column: 1 / span 4;
  grid-row: 2 / span 4;
}

.verse-two .gotta-be {
  background-color: #FDFAF2;
  grid-column: 3 / span 4;
  grid-row: 2 / span 4;
}

.verse-three .gotta-be {
  background-color: #FFF5F1 ;
  grid-column: 2 / span 4;
  grid-row: 1 / span 4;
}

.verse-four .gotta-be {
  background-color: #FEF8F2;
  grid-column: 4 / span 4;
  grid-row: 2 / span 4;
}

 .verse-one .image {
  grid-column: 4 / span 4;
  grid-row: 4 / span 4;
}

.verse-two .image {
 grid-column: 1 / span 4;
 grid-row: 4 / span 4;
}

.verse-three .image {
 grid-column: 1 / span 4;
 grid-row: 4 / span 4;
}

.verse-four .image {
 grid-column: 1 / span 4;
 grid-row: 4 / span 4;
}

.verse-one img {
  max-width: 100%;
}

.verse-two img {
  max-width: 100%;
}

.verse-three img {
  max-width: 100%;
}

.verse-four img {
  max-width: 100%;
}


 .and-i-know {
   display:flex;
   justify-content:center;
   align-items:center;
   border: 1px solid #182A39;
   box-sizing: border-box;
}

 .and-i-know p {
   margin: 25px ;
   max-width: 300px;
 }

.verse-one .and-i-know {
    background-color: #F2F4F1;
    grid-column: 7 / span 4;
    grid-row: 7 / span 4;
}

.verse-two .and-i-know {
    background-color: #FDFAF2;
    grid-column: 4 / span 4;
    grid-row: 5 / span 4;
}

.verse-three .and-i-know {
    background-color: #FFF5F1;
    grid-column: 4 / span 4;
    grid-row: 5 / span 4;
}

.verse-four .and-i-know {
    background-color: #FEF8F2;
    grid-column: 4 / span 4;
    grid-row: 5 / span 4;
}

@media (max-width:1100px) {

body {
    width:800px;
    font-size: 20px ;
}

section {
  height: 800px;
}

h3 {
  font-size: 32px ;
  line-height: 1.2;

}

}

@font-face {
  font-family: "clifton-italic" ;

  src: url("/Users/madelinewoods/Documents/RISD/2018_2019/winter_session/projects/styling-lyrics/assets/fonts/Clifton-Italic.woff") format("woff");
}

@font-face {
  font-family:"solow-outline" ;

  src: url("/Users/madelinewoods/Documents/RISD/2018_2019/winter_session/projects/styling-lyrics/assets/fonts/SoLow-OutlineRegular.woff") format("woff");
}

@font-face {
  font-family:"selfModern" ;

  src: url("/Users/madelinewoods/Documents/RISD/2018_2019/winter_session/projects/styling-lyrics/assets/fonts/bretagne_self-modern_italic_trial.woff") format("woff");
}
