
body {
  font-family: 'Lack-Regular', sans-serif;
  margin: 1em;
  background-color: #AAA99A;
}

.fast {
    position: absolute;
    top: 50px;
    font-size: 16vw;
    font-family: 'Lack-Line-Regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: .8;
    letter-spacing: 1.5;
    color: rgba(0, 0, 0, 0.2);
}

.slow {
  float: left;
  margin-top: 500px;
  padding: 25px;
  text-decoration: underline;
  /* background-color: #EB756C; */
  /* width: 70%; */
  font-size: 4vw;
  transition: background .5s ease-in-out;
  margin-bottom: 25px;
  z-index: 1000px;
}

.slow hover {
  color:black;
}

.slow.one {
  color: #fb39b2;
  animation-name: scroll;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.slow.two {
  color: #802927;
  animation-name: reverse;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.slow.three {
  color: #86df57;
  animation-name: scroll;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  animation-fill-mode: backwards;
}

.slow.four {
  color: #640048;
  font-weight: 900;
  animation-name: reverse;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

/* animations  */

@keyframes scroll {

from {transform:translatex(1250px) ;}
to {transform:translatex(-1250px) ;}

}

@keyframes reverse {

from {transform:translatex(-1250px) ;}
to {transform:translatex(1250px) ;}

}

/* font */

@font-face {
  font-family: 'Lack-Line-Regular';
  src: url(/Users/madelinewoods/Documents/RISD/2018_2019/winter_session/projects/styling-lyrics/Lack-Line-Regular.woff)  format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lack-Regular';
  src: url(/Users/madelinewoods/Documents/RISD/2018_2019/winter_session/projects/styling-lyrics/Lack-Regular.woff)  format('woff');
  font-weight: normal;
  font-style: normal;
}
