body {
  font-family: 'Cutive Mono', monospace;
  /* width: 80%; */
  margin: auto;
  padding-top: 40px;
  /* background-position: 0 -250px; */
  background-color: #AAA99A;
}

p {
   font-family: 'YoungSerifRegular';
   font-weight: normal;
   font-style: normal;
}

.fast {
    position: absolute;
    top: 50px;
    font-size: 20vw;
    text-transform: uppercase;
    font-family: 'lack_lineregular';
    /* -webkit-text-fill-color: #AAA99A;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black; */
    /* text-decoration: underline; */
    /* transform: translateX(200px) translateY(-200px) skew(20deg) scale(2) rotateX(60deg); */
    /* color: red; */
    line-height: .6;
    letter-spacing: 1.5;

    /* animation-name: above;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-direction: alternate; */
    /* animation-name: scroll;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */


}

.slow {
  /* float: left; */
  margin-top: 450px;
  margin-left: 250px;
  padding: 20px;
  background-color: #EB756C;
  width: 70%;
  font-size: 24px;
  transition: background .5s ease-in-out;
  margin-bottom: 25px;

}

.slow:hover {
  background-color: blue;
  /* transform: rotate(45deg); */

}

.wrapper {
  perspective: 1000px;
}

@keyframes above {

from {transform: translateX(0px);}
to: {transform: translateX(900px);}

}

@keyframes scroll {

from {transform:translatex(-250px) ;}
to {transform:translatex(1250px) ;}

}

/* @font-face {

  font-face: 'Lack-Line-Regular';
  src:  format('woff');

} */

@font-face {
    font-family: 'lack_lineregular';
    src: url('lack-line-regular-webfont.eot');
    src: url('lack-line-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lack-line-regular-webfont.woff2') format('woff2'),
         url('lack-line-regular-webfont.woff') format('woff'),
         url('lack-line-regular-webfont.ttf') format('truetype'),
         url('lack-line-regular-webfont.svg#lack_lineregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

    @font-face {
        font-family: 'lackregular';
        src: url('lack-regular-webfont.eot');
        src: url('lack-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('lack-regular-webfont.woff2') format('woff2'),
             url('lack-regular-webfont.woff') format('woff'),
             url('lack-regular-webfont.ttf') format('truetype'),
             url('lack-regular-webfont.svg#lackregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
